 <div class="row">
    <div class="col-md-12">
          <h2>Categories</h2>
          <br />

          <div class="table-responsive">
        <table class="table ">            
            <tr>
                <td>Category ID</td>
                <td>Category Name</td>
            </tr>
                    {{#each categories}}
                <tr>
                    <td><a href="/posts?category={{id}}">{{id}}</a></td>
                    <td><a href="/posts?category={{id}}">{{category}}</a></td>
                </tr>
            {{/each}}
        </table>
        </div>

    </div>
    <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
</div>
</div>